@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
  /* Font Variables */
  --font-plex-mono: "IBM Plex Mono", monospace; 
  --font-anonymous: 'Anonymous Pro', monospace;
  --font-archivo: 'Archivo', sans-serif;


  /* Colors */
  
  --color-blue-100: #F0F2FA;
  --color-gray-100: #121212;
}

@utility font-plex-mono {
 font-family: var(--font-plex-mono);
}

@utility font-anonymous {
  font-family: var( --font-anonymous);
 }

 @utility font-archivo {
  font-family: var(--font-archivo);
}